/* Definerer globale variabler som kan brukes senere */
:root {
    /* Fargene for rød og hul er hentet fra den tidligere kommunen Bø i Telemark sitt kommunevåpen */
    --red: #c0041d;
    --yellow: #f9e70c;
    --white: #fff;
    --black: #000;
}

/* Nullstiller marger og padding til alle elementer */
* {
    /* Setter font */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* Gjør at scrollingen blir "smooth" når man trykker på lenkene i navbaren */
    scroll-behavior: smooth;
}

/* Body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Topptekst */
header {
    margin-bottom: 20px;
    min-height: 100vh;
    /* Bilder er hentet fra Pixabay */
    /* Legger på et svakt gul-sort overlay over bildet */
    background-image: linear-gradient(rgba(50,50,0,0.6), rgba(50,50,0,0.6)), url('./bilder/snow-blower_1920.jpg');
    background-position: center;
    background-size: cover;
}

header h1 {
    font-size: 50px;
    background-color: var(--white);
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
    margin: auto;
    margin-top: 200px;
    width: 95%;
    max-width: fit-content;
}

header p {
    font-size: 20px;
    background-color: var(--white);
    padding: 10px 20px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    width: 600px;
    max-width: fit-content;
}


/* Navbar */
header nav {
    background-color: var(--yellow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0px 10px;
}

header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header a{
    padding: 10px;
    margin: 0px 5px;
    text-decoration: none;
    color: var(--black);
    border-radius: 10px;
}

header nav ul {
    display: flex;
}

header nav > a{
    font-weight: bold;
}

header a:hover{
    background-color: var(--red);
    color: var(--white);
}

/* Lar overskriftene ha en serif-font */
h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Tekst */
h2 {
    font-size: 28px;
    margin: 10px;
}

p {
    margin: 8px;
}

/* Utility-klasse for mindre størrelse */
.small {
    font-size: 12px;
}

/* Hoveddel */
main {
    width: 95%;
    max-width: 600px;
    margin: 0px auto;
}
main section {
    text-align: center;
    margin-bottom: 70px;
}


/* Bilder */
img {
    width: 100%;
    border-radius: 10px;
}

/* Bunntekst */
footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--yellow);
    margin-top: auto;
}

footer a {
    color: var(--black);
}

footer div {
    margin: 20px;
}

footer h3 {
    margin-bottom: 10px;
    border-width: 0 0 2px 0;
    border-style: solid;
    text-align: center;
}

/* Endrer CSS på mindre skjerm */
@media (max-width: 650px){
    header nav {
        flex-direction: column;
        height: auto;
    }

    header nav ul {
        flex-direction: column;
    } 

    header nav ul li {
        display: flex;
        text-align: center;
    }
}

@media (max-width: 450px){
    header h1 {
        font-size: 32px;
    }
    footer {
        flex-direction: column;
        text-align: center;
    }
}